@keyframes slide {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-400%);
	}
}

.slide {
	animation-name: slide;
	animation-duration: 12s;
	animation-timing-function: steps(4);
	animation-iteration-count: infinite; 
}