/*Carousel*/
#slides-and-buttons-container {
	width: 100%;
	min-height: 80%;
	margin-bottom: 30px;
	justify-content: center;
}

#slide-container {
		width: 640px;
		height: inherit;
		position: relative;
		overflow: hidden;
}

.slide {
	width: inherit;
	height: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
}

.header {
	width: inherit;/*640px*/
	height: 30px;
	margin-top: 0;
	margin-bottom: 20px;
	color: #f3f3f3;
	font-weight: 500;
	align-items: center;
}

.description {
	width: inherit;
	height: 30px;
	margin-bottom: 30px;
	color: #eaeaea;
	font-size: 1em;
	font-weight: 300;
	align-items: center;
}

.media {
	width: inherit;
	height: 360px;
	overflow: hidden;
}

.button-container {
	width: 15%;
	height: 360px;
	background-color: #3d3d3d;
	display: inherit;
	justify-content: center;
	align-items: center;
	align-self: flex-end;
	z-index: 5;
}

.button-container img {
	cursor: pointer;
}

#media-links-container {
	width: 100%;
	height: 5%;
	margin-bottom: 20px;
	justify-content: center;
	align-items: center;
}

#media-links-container a {
	width: 10px;
	height: 10px;
	margin-right: 10px;
	border-radius: 50%;
	background-color: #5b5b5b;
}

#media-links-container a.off {
	background-color: #5b5b5b;
}

#media-links-container a.on {
	background-color: #ffffff;
}

#media-links-container a:hover {
	background-color: #ffffff;
}
/*End Of Carousel*/
