/*Carousel*/
#slides-and-buttons-container {
	width: 100%;
	min-height: 60%;
	margin-bottom: 30px;
	justify-content: center;
}

#slide-container {
		width: 640px;
		height: 100%;
		overflow: hidden;
}
 
#header-display-area {
	width: 640px;
	height: 30px;
	margin-top: 0;
	margin-bottom: 20px;
	color: #f3f3f3;
	font-weight: 500;
	position: relative;
}

#description-display-area {
	width: 640px;
	height: 30px;
	margin-bottom: 30px;
	color: #eaeaea;
	font-size: 1em;
	font-weight: 300;
	position: relative;
}

#header-container, #description-container {
	height: 100%;
	margin: 0;
	padding: 0;
	align-items: center;
	position: absolute;
}

.header, .description {
	width: 640px;
}

/*inner media: */
#display-area {
	width: 640px;
	height: 360px;
	overflow: hidden;
	position: relative;
}

#media-container {
	height: 360px;
	position: absolute;
	overflow: hidden;
}

#media-container div {
	width: 640px;
	height: 360px;
}

.button {
	width: 15%;
	height: 360px;
	background-color: #3d3d3d;
	display: inherit;
	justify-content: center;
	align-items: center;
	align-self: flex-end; 
	z-index: 5;
}

.button img {
	cursor: pointer;
}

#prev-button {
	visibility: hidden;
 }

#media-links-container {
	width: 100%;
	height: 5%;
	margin-bottom: 20px;
	justify-content: center;
	align-items: center;
}

#media-links-container li {
	width: 10px;
	height: 10px;
	margin: 5px;
	cursor: pointer;
	display: flex;
}

#media-links-container li a {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #5b5b5b;
}

#media-links-container li a:hover {
	background-color: #ffffff;
}
/*End Of Carousel*/