/*Carousel*/
#slides-and-buttons-container {
	width: 100%;
	height: 487px;
	margin-bottom: 0px;
	justify-content: center;
}

#slide-container {
	width: 704px;
	height: inherit;
	position: relative;
	overflow: hidden;
}

.slide {
	width: inherit;
	height: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
}

.header {
	width: inherit;/*704px*/
	height: 28px;
	margin-top: 0;
	margin-bottom: 0px;
	color: #f3f3f3;
	font-weight: 500;
}

.description {
	width: inherit;
	height: 28px;
	margin-top: 15px;
	margin-bottom: 20px;
	color: #eaeaea;
	font-size: 1em;
	font-weight: 300;
	align-items: center;
}

.media {
	width: inherit;
	height: 396px;
	overflow: hidden;
}

.button-container {
	max-width: 90px;
	height: 396px;
	background-color: #3d3d3d;
	display: inherit;
	align-items: center;
	align-self: flex-end;
}

.button-container img {
	cursor: pointer;
}

#prev-button {
	padding-right: 25%;
}

#next-button {
	padding-left: 25%;
}

#media-links-container {
	width: 100%;
	height: 5%;
	margin-top: 20px;
	margin-bottom: 5px;
	justify-content: center;
	align-items: center;
}

#media-links-container a {
	width: 10px;
	height: 10px;
	margin-right: 10px;
	border-radius: 50%;
	background-color: #5b5b5b;
}

#media-links-container a.off {
	background-color: #5b5b5b;
}

#media-links-container a.on {
	background-color: #ffffff;
}

#media-links-container a:hover {
	background-color: #ffffff;
	cursor: pointer;
}
/*End Of Carousel*/
