/*Default styling is for 1366 x 768*/

/*Large Screen Devices*/
@media (max-width: 1280px) {

  a {
    font-size: .8em;
  }
  #slides-and-buttons-container {
    height: 451px;
  }

  #slide-container {
    width: 640px;
  }

  .media {
    height: 360px;
  }

  .button-container {
    height: 360px;
  }
}

@media (max-width: 1080px) {

  #slides-and-buttons-container {
    height: 415px;
  }

  #slide-container {
    width: 576px;
  }

  .media {
    height: 324px;
  }

  .button-container {
    height: 324px;
  }

}

@media (max-width: 960px) {

  body {
    font-size: .8em;
  }

  .base {
  	float: none;
  }

  .button-container {
    display: none;
  }

  #sidebar-container {
    width: 100%;
    height: 15%;
  }

  #main-body-container {
    width: 100%;
    min-height: 85%;
  }

  #sidebar, #main-body {
    width: 100%;
  }

  #sidebar {
    padding: 0 3% 0 3%;
    flex-flow: row;
  }

  #logo {
    width: 30%;
  }

  #contact-link-container {
    width: 20%;
    flex-flow: row;
    align-items: center;
  }

  #contact-link-container li {
  	padding-left: 0;
  }

  .username {
    display: none;
  }

  #slides-and-buttons-container {
    height: 478px;
  }

  #slide-container {
    width: 688px;
  }

  .media {
    height: 387px;
  }

  .button-container {
    height: 387px;
  }


}

@media (max-width: 800px) {
  #slides-and-buttons-container {
    height: 478px;
  }

  #slide-container {
    width: 688px;
  }

  .media {
    height: 387px;
  }

  .button-container {
    height: 387px;
  }
}

@media (max-width: 720px) {

  #slides-and-buttons-container {
    height: 415px;
  }

  #slide-container {
    width: 576px;
  }

  .media {
    height: 324px;
  }

  .button-container {
    height: 324px;
  }

}

@media (max-width: 680px) {

  #slides-and-buttons-container {
    height: 406px;
  }

  #slide-container {
    width: 560px;
  }

  .media {
    height: 315px;
  }

  .button-container {
    height: 315px;
  }

}

@media (max-width: 640px) {

  .fa:hover, .fa:active {
  	color: #eaeaea;
  }

  #contact-link-container {
    display: none;
  }

  #logo-and-slogan-container {
    width: 100%;
    height: 70%;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  #logo {
    width: auto;
    height: 100%;
  }

  #slogan {
    width: auto;
    font-size: 1.5em;
  }

  #mobile-view-links-container {
    display: flex;
  }

  .small-contact-link {
  	display: inline;
  }

  #slides-and-buttons-container {
    height: 379px;
  }

  #slide-container {
    width: 512px;
  }

  .media {
    height: 288px;
  }

  .button-container {
    height: 288px;
  }

}

@media (max-width: 568px) {

  #slides-and-buttons-container {
    height: 361px;
  }

  #slide-container {
    width: 480px;
  }

  .media {
    height: 270px;
  }

  .button-container {
    height: 270px;
  }

}

@media (max-width: 520px) {

  #slides-and-buttons-container {
    height: 325px;
  }

  #slide-container {
    width: 416px;
  }

  .media {
    height: 234px;
  }

  .button-container {
    height: 234px;
  }

}

@media (max-width: 470px) {

  #slogan {
    font-size: 1.2em;
  }

  #slides-and-buttons-container {
    height: 307px;
  }

  #slide-container {
    width: 384px;
  }

  .media {
    height: 216px;
  }

  .button-container {
    height: 216px;
  }

}

@media (max-width: 420px) {

  #slides-and-buttons-container {
    height: 289px;
  }

  #slide-container {
    width: 352px;
  }

  .media {
    height: 198px;
  }

  .button-container {
    height: 198px;
  }

}

@media (max-width: 360px) {

  #slides-and-buttons-container {
    height: 262px;
  }

  #slide-container {
    width: 304px;
  }

  .media {
    height: 171px;
  }

  .button-container {
    height: 171px;
  }

}

@media (max-width: 360px) {
  #slogan {
    font-size: 1em;
  }
}

@media (max-width: 960px) and (orientation: landscape) {
  body {
    min-height: 150%;
  }
}

@media (min-width: 1024px) and (max-height: 480px) {
  body {
    min-height: 120%;
  }
}
