/*Default styling is for 1366 x 768*/

/*Large Screen Devices*/


@media (max-width: 1280px) {

  a {
    font-size: .8em;
  }
  #slides-and-buttons-container {
    height: 451px;
  }

  #slide-container {
    width: 640px;
  }

  .media {
    height: 360px;
  }

  .button-container {
    height: 360px;
  }
}

@media (max-width: 1080px) or (max-width: 1024px) {

  #slides-and-buttons-container {
    height: 361px;
  }

  #slide-container {
    width: 480px;
  }

  .media {
    height: 270px;
  }

  .button-container {
    height: 270px;
  }

}

@media (max-width: 800px) {

  body {
    font-size: .8em;
  }

  #base-container {/*body*/
    display: flex;
    flex-flow: column;
  }

  #sidebar {
    width: 100%;
    height: 100px;
    padding: 0% 5% 0 5%;
    flex-flow: row;
  }

  #logo {
    width: 20%;
  }

  #contact-link-container {
    width: 40%;
    flex-flow: row;
    align-items: center;
  }

  #contact-link-container li {
  	padding-left: 0;
  }

  .large-contact-link {
    display: none;
  }

  .medium-contact-link {
    display: inline;
  }

  #main-container {
    width: 100%;
    min-height: 90%;
  }

  #slides-and-buttons-container {
    height: 451px;
  }

  #slide-container {
    width: 640px;
  }

  .media {
    height: 360px;
  }

  .button-container {
    height: 360px;
  }

}

@media (max-width: 760px) {

  #slides-and-buttons-container {
    height: 415px;
  }

  #slide-container {
    width: 576px;
  }

  .media {
    height: 324px;
  }

  .button-container {
    height: 324px;
  }

}

@media (max-width: 640px) {

  #slides-and-buttons-container {
    height: 361px;
  }

  #slide-container {
    width: 480px;
  }

  .media {
    height: 270px;
  }

  .button-container {
    height: 270px;
  }

}

@media (max-width: 420px) {

  #slides-and-buttons-container {
    height: 235px;
  }

  #slide-container {
    width: 256px;
  }

  .media {
    height: 144px;
  }

  .button-container {
    height: 144px;
  }

}

@media (max-width: 320px) {

  #slides-and-buttons-container {
    height: 172px;
  }

  #slide-container {
    width: 144px;
  }

  .media {
    height: 81px;
  }

  .button-container {
    height: 81px;
  }

}
